<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.sap.adt.views"
            class="org.abapgit.adt.ui.internal.repositories.AbapGitView"
            icon="icons/view/abapgit.png"
            id="org.abapgit.adt.ui.views.AbapGitView"
            inject="true"
            name="%abapgit.repository.view.name">
      </view>
      <view
            allowMultiple="false"
            category="com.sap.adt.views"
            class="org.abapgit.adt.ui.internal.staging.AbapGitStagingView"
            icon="icons/view/abapgit_staging.png"
            id="org.abapgit.adt.ui.views.AbapGitStagingView"
            name="%abapgit.staging.view.name">
      </view>
   </extension>

</plugin>
