<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.sap.adt.views"
            class="org.abapgit.adt.ui.internal.views.AbapGitView"
            icon="icons/view/abapgit.png"
            id="org.abapgit.adt.ui.views.AbapGitView"
            inject="true"
            name="%view.name">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="ABAP CI Category"
            id="abapci.commands.category"
            categoryId="abapci.commands.category">
      </category>
      <command
            name="abapGit.command.openView"
            categoryId="org.abapgit.adt.ui.category"
            id="org.abapgit.adt.ui.command.abapgit.openView">
      </command>
      <command
            name="abapGit.command.pull"
            categoryId="org.abapgit.adt.ui.category"
            id="org.abapgit.adt.ui.command.abapgit.pull">
      </command>
   </extension>
 
   <extension
         point="org.eclipse.ui.handlers">
      <handler
		class="org.abapgit.adt.ui.internal.handlers.AbapGitOpenViewHandler"            
		commandId="org.abapgit.adt.ui.command.abapgit.openView">
      </handler>
      <handler
		class="org.abapgit.adt.ui.internal.handlers.AbapGitPullHandler"            
		commandId="org.abapgit.adt.ui.command.abapgit.pull">
      </handler>
   </extension> 


   <extension
         point="org.eclipse.ui.menus">

      <menuContribution  
          allPopups="false"        
          locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=additions">
       <command
             commandId="org.abapgit.adt.ui.command.abapgit.openView"
             id="gitMenu"
             label="%abapGit.command.openView.label"
             icon="icons/view/abapgit.png"
             tooltip="%abapGit.command.openView.tooltip">
          <visibleWhen
                checkEnabled="false">
             <iterate
                   ifEmpty="false"
                   operator="or">
                <and>
                <or>
                      property="com.sap.adt.project.hasNature"
                         value="com.sap.adt.abapnature">
  
                      <instanceof
                            value="com.sap.adt.tools.core.IAdtObjectReference">
                      </instanceof>
                      <adapt
                            type="com.sap.adt.tools.core.IAdtObjectReference">
                      </adapt>
                      <instanceof
                         value="com.sap.adt.tools.core.project.IAbapProject">
                      </instanceof>
                      <adapt
                            type="com.sap.adt.tools.core.project.IAbapProject">
                      </adapt>
                     
                    <instanceof
                         value="org.eclipse.core.resources.IProject">
                      </instanceof>
                      <adapt
                            type="org.eclipse.core.resources.IProject">
                      </adapt>
                      
                   </or>
                </and>
             </iterate>
          </visibleWhen>
       </command>
    </menuContribution>    
   
   
    <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=additions">
         <menu
               id="gitMenu"
               label="Git actions">
            <separator>
            </separator>
           <visibleWhen
                checkEnabled="false">
             <iterate
                   ifEmpty="false"
                   operator="or">
                <and>
                <or>
                      property="com.sap.adt.project.hasNature"
                         value="com.sap.adt.abapnature">
  
                      <instanceof
                            value="com.sap.adt.tools.core.IAdtObjectReference">
                      </instanceof>
                      <adapt
                            type="com.sap.adt.tools.core.IAdtObjectReference">
                      </adapt>
                      <instanceof
                         value="com.sap.adt.tools.core.project.IAbapProject">
                      </instanceof>
                      <adapt
                            type="com.sap.adt.tools.core.project.IAbapProject">
                      </adapt>
                     
                    <instanceof
                         value="org.eclipse.core.resources.IProject">
                      </instanceof>
                      <adapt
                            type="org.eclipse.core.resources.IProject">
                      </adapt>
                      
                   </or>
                </and>
             </iterate>
          </visibleWhen>
       </menu>
 </menuContribution>

          <menuContribution
                allPopups="false"
                locationURI="popup:gitMenu?after=additions">
             <command
                   commandId="org.abapgit.adt.ui.command.abapgit.pull"
                   label="%abapGit.command.pull.label"
                   tooltip="%abapGit.command.pull.tooltip"
                style="push">
          <visibleWhen
                checkEnabled="false">
             <iterate
                   ifEmpty="false"
                   operator="or">
                <and>
                <or>
                      property="com.sap.adt.project.hasNature"
                         value="com.sap.adt.abapnature">
  
                      <instanceof
                            value="com.sap.adt.tools.core.IAdtObjectReference">
                      </instanceof>
                      <adapt
                            type="com.sap.adt.tools.core.IAdtObjectReference">
                      </adapt>
                      <instanceof
                         value="com.sap.adt.tools.core.project.IAbapProject">
                      </instanceof>
                      <adapt
                            type="com.sap.adt.tools.core.project.IAbapProject">
                      </adapt>
                     
                    <instanceof
                         value="org.eclipse.core.resources.IProject">
                      </instanceof>
                      <adapt
                            type="org.eclipse.core.resources.IProject">
                      </adapt>
                      
                   </or>
                </and>
             </iterate>
          </visibleWhen>
             </command>
          </menuContribution>
    
    

</extension> 
</plugin>
