# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.pyc
*~
~*
*.bak
*.tmp
*~.nib
mvnw*
.DS_Store
.pmd

# java specifica
*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
.metadata
bin/
target/
tmp/
*.swp
*~.nib
local.properties
.settings/
.loadpath


# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch